
body, html {
	height: 100%;
}
body {
	margin: 0;
	overflow: hidden;
}
/*commons*/
	/*button*/
	.btn-link:hover {
		text-decoration: none;
		outline: none;

	}
	.my-btn {
		padding: 8px 20px;
		background-color: transparent;
		color: #555;
		border-radius: 20px;
		font-size: 12px;
		border: 1px solid #fff;
		color: #fff;
		outline: none;
		text-decoration: none;
		cursor: pointer;
	}
	.my-btn:hover {
		background-color: #fff;
		border: 1px solid #fff;
		color: #000;
		text-decoration: none;
		color: #FFF;
	}
	.my-btn:active {
		border: 1px solid rgba(0,0,0,0.3) !important;
	    -moz-box-shadow:    inset 0px 0px 10px rgba(0,0,0,.3);
	   	-webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,.3);
	   	box-shadow:         inset 0px 0px 10px rgba(0,0,0,.3);
	}
	.my-btn.btn-positive {
		background-color: transparent;
		border: 1px solid #b82025;
		color: #b82025;
	}
	.my-btn.btn-positive:hover {
		background-color: #b82025;
		border: 1px solid #b82025;
		color: #fff;
	}
	.my-btn.btn-neutral {
		background-color: transparent;
		border: 1px solid #b82025;
		color: #b82025;
	}
	.my-btn.btn-neutral:hover {
		background-color: #b82025;
		border: 1px solid #b82025;
		color: #fff;
	}
	.my-btn.btn-register {
		background-color: #6ebe44;
		border-color: #6ebe44;
		color: #fff;
	}
	.my-btn.btn-register:hover {
		background-color: #fff;
		border-color: #6ebe44;
		color: #6ebe44;
	}
	.my-btn.btn-neutral {
		background-color: #fff;
		border-color: #a0a0a0;
		color: #a0a0a0;
	}
	.my-btn.btn-neutral:hover {
		background-color: #a0a0a0;
		border-color: #a0a0a0;
		color: #fff;
	}
	.my-btn.btn-send-contact {
		background: #0769e0;
		border: 1px solid #0769e0;
		padding: 12px 30px;
	}
	
	.btn-group {
		text-align: center;
		width: 100%;
	}
	.btn-respnsive:before { content:'\2630'; }
	.btn-respnsive {
		display: none;
		padding: 0;
		height: 40px;
		font-size: 28px;
		width: 40px;
		line-height: 1;
		float: right;
		padding-top: 3px;
		margin-top: 6px;
	}
	.my-btn.btn-login {
		padding: 0 30px;
		background-color: #b82025;
		border: 1px solid #b82025;
		color: #fff;
	}
	.my-btn.btn-login:hover {
		padding: 0 30px;
		background-color: transparent;
		border: 1px solid #b82025;
		color: #b82025;
	}
	.my-btn.btn-add-list {
		border: 1px solid #555;
		color: #555;
		background-color: transparent;
	}
	.my-btn.btn-add-list:hover {
		border: 1px solid #555;
		background-color: #555;
		color: #FFF;
	}

	/*end button*/
/*end commons*/

/*header*/
.header {
	position: fixed;
	width: calc(100% - 15px);
	height: 50px;
	background-color: transparent;
	color: #fff;
	padding: 0 10px;
	margin-top: 3px;
	/*padding-right: 20px;*/
	z-index: 9;
	user-select: none;
}
.header-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.6);
	color: #fff;
	border-radius: 10px;
	line-height: 2.5;
	padding: 0 10px;
}
.logo-box {
	display: inline;
	font-size: 20px;
	cursor: pointer;
	z-index: 1;
	text-decoration: none;
	color: #FFF;
}
.logo-box:hover {
	text-decoration: none;
	color: #FFF;
}
.logo-prefix {
	display: inline;
    padding: 10px;
    background: #b82025;
    border-radius: 6px;
    padding-right: 0;
    letter-spacing: 2px;
}
.logo-suffix {
	display: inline;
    letter-spacing: 2px;
}
.menu-box {
	display: inline;
}
.menu-list {
	list-style: none;
	display: inline;
	padding-left: 20px;
}
.menu-list li {
	display: inline-table;
	padding: 0 6px;
	cursor: pointer;
	border-radius: 6px;
}
.menu-list li:hover {
	background-color: #b82025;
}
.menu-list a {
	color: #FFF;
	text-decoration: none;
}
.menu-list.responsive {
	background-color: rgba(0,0,0, 0.6);
	height: 100%;
	width: 100%;
	display: block;
	padding: 0;
}
.menu-list.responsive > li {
	display: block;
	padding: 0;
}
.menu-list.responsive a {
	text-decoration: none;
    text-overflow: clip;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 10px 0px;
}
.separate {
	height: 1px;
	width: 100%;
	background-color: #fff;
	margin: 5px 0px;
}
.search-box {
	width: 250px;
	display: inline-table;
}
.search-box > input {
	border-radius: 20px;
	background-color: transparent;
	display: inline-table;
	color: #fff;
}
.button-responsive {
	display: inline;
	right: 0;
}
.account-box {
	float: right;
	position: relative;
	top: 8px;
	right: 8px;
}
@media (max-width: 900px) {
	.search-box {
		width: 40px;
	}
}
@media (max-width: 820px) {
	/*minus search box*/
	.search-box {
		width: 40px;
	}
}
@media (max-width: 768px) {
	/*responsive for smaller screen device*/
	.menu-box, .account-box {
		display: none;
	}
	.logo-box {
		position: absolute;
	}
	.header-wrapper .search-box {
		position: absolute;
	    width: 100%;
	    padding-left: 135px;
	    padding-right: 70px;
	    top: 8px;
		display: inline-table;
	}
	.header {
		padding: 0;
	    margin-top: 0;
	}
	.header-wrapper {
		border-radius: 0;
	}
	.btn-respnsive {
		display: block;
		position: relative;
	}
}	
/*end header*/

/*body*/
#app {
	position: relative; 
	height: 100%;
	overflow: hidden;
}
.app.blur {
	filter: blur(8px);
}
.body {
	height: 100%;
	overflow: auto;
	position: relative;
}
	/*slider*/
	.slick-slider {
		width: 100%;
		height: 100%;
		position: relative;

	}
	.slider-wrapper {
		width: 100%;
		height: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	/*end slider*/
	/*block info*/
	.block-info {
		padding: 15px;
		background-color: rgba(0,0,0,0.9);
		color: #fff;
		width: fit-content;
		position: absolute;
		bottom: 100px;
		margin-left: 50px;
		border-radius: 10px;
	}
	.slider-wrapper .block-info {
		max-width: 400px;
	}	
	.bl-title {
		font-size: 30px;
	}
	.bl-des {
		margin-top: 10px;
		font-size: 15px;
	}
	.bl-action {
		margin-top: 10px;
		text-align: center;
	}
	.bl-action button {
		margin: 0 10px;
	}
	/*end block info*/

	/*section*/
	.section {
		text-align: center;
		display: table;
    	padding: 0 20px;
    	margin: 10px 0;
    	width: 100%;
	}

	.section.newest {
		display: block;
	}
	.section.newest .slick-dots {
		bottom: -25px;
	}
	.section-header {
		font-size: 30px;
	    text-align: left;
	    font-weight: 600;
	    word-spacing: 5px;
	    letter-spacing: 5px;
	    border-bottom: 1px solid;
	    width: 250px;
	    margin-bottom: 20px;
	}
	.section-foryou-inner {
		box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.4);
		border: 1px solid rgba(0,0,0,0.4);
	    border-radius: 8px;
	    padding: 30px 20px 30px 15px;
	}


	/* section contact */
	.section-contact {
		text-align: left;
	}
	.section-contact .main-form .line-form .label {
		position: absolute;
		bottom: 14px;
		left: 0;
		color: #000;
		font-size: 0.875em;
		font-weight: bold;
		text-transform: uppercase;
	}
	.section-contact .wrap-select {
		display: block;
		position: relative;
		background-color: transparent;
		width: 100%;
		height: 47px;
	}
	.wrap-select select {
		position: relative;
		z-index: 2;
		background-color: transparent;
		padding-right: 20px;
		border: 0 none;
		box-shadow: none;
		font-weight: normal;
		padding: 14px 0;
		outline: none;
		width: 100%;
		/* -webkit-appearance: none; */
	}
	.section-contact .main-form .line-form {
		position: relative;
		margin-bottom: 12px;
		padding-left: 130px;
		border-bottom: 1px solid #ccc;
		
	}
	.section-contact .line-form .input {
		display: block;
		font-weight: normal;
		background-color: transparent;
		width: 100%;
		padding: 13px 0 14px;
		font-size: 16px;
		border: none;
		box-shadow: none;
		outline: none;
	}
	.section-contact .main-form .line-form .label i {
		color: #f00;
		font-size: 18px;
	}
	.section-contact h2 {
		display: block;
		margin-bottom: 40px;
		color: #000;
		font-size: 3em;
		font-weight: 300;
		letter-spacing: 3px;
	}
	.section-contact .form-container {
		position: relative;
		margin: 30px 0 0;
		top: unset;
		left: unset;
		transform: none;
		width: 100%;
		height: unset;
	}
	.section-contact .form-container .main-form {
		float: left;
		width: 62%;
		margin-top: -18px;
	}
	.section-contact .form-container .beside-info {
		float: right;
		width: 38%;
		padding-left: 50px;
		/* padding-top: 10px; */
		padding-bottom: 50px;
	}
	.section-contact .form-container .beside-info p {
		display: block;
		position: relative;
		color: #000;
		font-size: 1.375em;
		font-weight: 300;
		line-height: 1.7;
	}
	.section-contact .form-container .beside-info p:before {
		position: absolute;
		top: 4px;
		bottom: -4px;
		left: -15px;
		content: "";
		z-index: 1;
		background-color: #000;
		width: 2px;
	}
	@media(max-width: 768px) {
		.section-contact .form-container .main-form,
		.section-contact .form-container .beside-info {
			width: 100%;
		}
	}
	/* end section contact */
	/* section about */
	.section-about {
		text-align: left;
	}
	.section-about .title {
		display: block;
		margin-bottom: 40px;
		color: #000;
		font-size: 3em;
		font-weight: 300;
		letter-spacing: 3px;
	}
	.side-left {
		width: 38%;
		float: left;
	}
	.side-right {
		width: 62%;
		float: left;
	}
	/* end section about */
	.footer {
		position: relative;
		z-index: 3;
		width: 100%;
	}
	.footer .footer-container {
		position: relative;
		padding: 60px 0;
	}

	.footer .footer-container {
		position: relative;
		padding: 60px 0;
	}
	.footer .social-container {
		width: 12.5%;
		margin-bottom: 25px;
	}
	.footer .social-container ul {
		text-align: left;
		font-size: 0;
		padding-left: 0;
	}
	.footer .social-container ul li {
		display: inline-block;
		width: 33.33333%;
		text-align: center;
	}
	.footer .social-container ul li:first-child {
		margin-right: 0;
		text-align: left;
	}
	.footer .social-container ul li:last-child {
		margin-right: 0;
		text-align: right;
	}
	.footer .social-container ul li .func-social {
		display: block;
		height: 32px;
		height: 32px;
		cursor: pointer;
		-webkit-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		text-decoration: none;
	}
	.footer .social-container ul li .func-social:hover {
		opacity: 0.75;
		filter: alpha(opacity=75)
	}
	.footer .nav-footer {
		margin-bottom: 40px;
	}
	.footer .nav-footer ul {
		font-size: 0;
		padding-left: 0;
	}
	.footer .nav-footer ul li {
		display: inline-block;
		width: 12.5%;
		padding-right: 3.125%;
		vertical-align: top;
	}
	.footer .nav-footer ul li a {
		color: #000;
		font-size: 16px;
		font-weight: normal;
		outline: 0;
		cursor: pointer;
		-webkit-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		text-decoration: none;
	}
	.footer .nav-footer ul li a:hover {
		color: #0769e0
	}
	/*end section*/

	/*container*/
	.container-left {
		width: 63%;
		float: left;
		padding-right: 10px;
	}
	.container-right {
		width: 37%;
		float: right;
		padding-left: 10px;
	}
	/*end container*/

	/* icon */
	.ic {
		display: inline-block;
		background-image: url(../images/icon/main_sprites.png);
		background-size: 150px 150px;
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		vertical-align: middle;
		text-indent: -9999px;
	}
	.ic.ic-zalo {
		background-position: 0 0;
		width: 32px;
		height: 32px;
	}
	.ic.ic-fb {
		background-position: -32px 0;
		width: 32px;
		height: 32px;
	}
	.ic.ic-youtube {
		background-position: -64px 0;
		width: 32px;
		height: 32px;
	}
	/* end icon */

	/*block*/
	.block {
		display: inline-table;
		margin: 2px;
		background-repeat: round;
		border-radius: 15px;
		position: relative;
		text-align: left;
	}
	.block.lg {
		width: 100%;
		height: 360px;
	}
	.block.lg .bl-title {
		font-size: 30px;
	}
	.block.lg .bl-des {
		font-size: 16px;
	}

	.block.md {
		width: 100%;
		height: 170px;
	}
	.block.md .bl-title {
		font-size: 24px;
	}
	.block.md .bl-des {
		font-size: 15px;
	}
	.block.sm {
		width: 100%;
		height: 170px;
	}
	.block.sm .bl-title {
		font-size: 20px;
	}
	.block.sm .bl-des {
		font-size: 14px;
	}
	.block.md-4 {
		width: 310px;
		height: 270px;
		
	}
	.block.md-2 {
		width: 150px;
		height: 130px;
	}
	.block.md-3 {
		width: 260px;
		height: 200px;
	}
	.block.md-3 .bl-title {
		font-size: 20px;
	}
	.block.md-3 .bl-des {
		font-size: 14px;
	}
	.block.md-2 .bl-title {
		font-size: 18px;
	}
	.block.md-2 .bl-des {
		font-size: 12px;
	}
	.flat {
		height: 100px;
	}
	.block.fit {
		width: 100%
	}

	.overlay {
		background: linear-gradient(rgba(255, 255, 255, 0),     
			rgba(56, 56, 56, 0.0),     
			rgba(56, 56, 56, 0.7),      
			rgba(0, 0, 0, 0.8));
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 15px;
		cursor: pointer;

		-webkit-transition: 1s ;
		-moz-transition: 1s ;
		-ms-transition: 1s ;
		-o-transition: 1s ;
		transition: 1s ;

	}
	.top{
		top:auto !important;
	}
	.bottom{
		bottom: 0;
	}
	.block-description {
		position: absolute;
	    width: 100%;
	    top: 50%;
	    /*bottom: 0;*/
	    border-bottom-left-radius: 15px;
	    border-bottom-right-radius: 15px;
	    padding: 15px;
	    color: #fff;

	    -webkit-transition: 1s ;
		-moz-transition: 1s ;
		-ms-transition: 1s ;
		-o-transition: 1s ;
		transition: 1s ;
	}


	.block.md-4 .bl-action {
		display: none;
	}

	.block.md-4.hover {

	}
	.block.md-4.hover .overlay {
		/*background-color: rgba(0, 0, 0, 0.8);*/
	}
	.block.md-4.hover .block-description {
		top: 0;
	}
	.block.md-4.hover .bl-action {
		display: block;
	}
	.section.plan .bl-title {
		font-size: 18px;
		letter-spacing: 2px;
	}

	@keyframes block-hover {
	    0%   {bottom: 0;}
	    50%   {top: 100px;}
	    100% {top: 0;}
	}
	/*end block*/


/*end body*/

/*side man*/
.side-menu {
	width: 0px;
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100%;
	padding-top: 50px;
	float: right;
}
.side-menu-wrapper {
	width: 0;
	height: 100%;
	float: right;
	-webkit-transition: 0.5s ;
	-moz-transition: 0.5s ;
	-ms-transition: 0.5s ;
	-o-transition: 0.5s ;
	transition: 0.5s ;
}
.side-menu.show {
	width: 100%;
}
.side-menu.show .side-menu-wrapper {
	width: 250px;
}
.side-menu.show .menu-list.responsive {
	padding: 0 10px;
}
.side-menu.show .menu-list.responsive a {
	padding: 10px 10px;
}
/*end side menu*/

/*seach*/
#search {
	position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 20px;
}
.search {
	display: none;
}
.search .search-box {
	width: 100%;
    padding: 0 25px;
}
.search.show {
	display: block;
}
.search-close {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 99;
}
.search-close > .my-btn {
	font-size: 20px;
    padding: unset;
    width: 35px;
    height: 35px;
}
.search-result {
	padding: 20px 50px;
}
@media (max-width: 768px) { 
	.search-result {
		padding: 20px 0px;
	}
}
.search-block {
	width: 100%;
	height: 100px;
	position: relative;
	display: table;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #fff;
}
.search-block:hover {
	background-color: rgba(255,255,255, 0.2);
}
.search-block > .image {
	float: left;
	width: 95px;
	height: 95px;
	border-radius: 5px;
}
.search-block > .content {
	padding-left: 120px;
	width: 100%;
	height: 100%;
	text-align: left;
}
.search-block .block-description {
	position: relative;
	top: 0;
	padding: 0;
}
.search-block .bl-title {
	font-size: 20px;
}
.search-block .bl-des {
	font-size: 14px;
	margin: 0;
}
/*end search*/

/*login*/

.form-container {
    margin: 0 auto;
    height: 70%;
    width: 80%;
  	background: #fff;
  	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	padding: 30px;
}
.form-close {
	position: absolute;
	right: 2px;
	top: 2px;
}
.form-close > .my-btn {
    font-size: 30px;
    padding: unset;
    width: 35px;
    height: 35px;
    color: #000;
    line-height: 1;
}
.form-close > .my-btn:hover {
	border-color: #000;
}
#login {
	position: absolute;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}
.login {
	display: none;
}
.ad-box {
	width: 60%;
	float: left;
	height: 100%;
}
.form-box {
	width: 40%;
	float: right;
	height: 100%;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.form-wrapper {
	padding: 10px;
	border: 1px solid #a0a0a0;
	height: 100%;
	position: relative;
}
.form-wrapper .slick-list { /* overide slick css */
	height: 100%; 
}
.form-wrapper .col-sm-3 { /* overide bootstrap css */
	padding-left: 0;
	padding-right: 0;
}
.form-wrapper button {
	min-width: 150px;
}
.ad-section {
	width: 100%;
	height: 100%;
	position: relative;
}
.ad-section .overlay {
	border-radius: 0;
	background:linear-gradient(rgba(255, 255, 255, 0),  
		rgba(56, 56, 56, 0.0),  rgba(56, 56, 56, 0.2),   rgba(0, 0, 0, 0.97));
}
.ad-section .block-description {
	bottom: 15px;
	top: unset;
	text-align: left;
}
@media (max-width:  768px) {
	.ad-box {
		display: none;
	}
	.form-box {
		width: 100%;
	}
}
/*end login*/

/*magazine*/
.magazin-list {
	padding: 0;
	list-style: none;
}
.maga-item {
	height: 170px;
	border-bottom: 1px solid #dcdcdc;
}
.maga-left {
	position: relative;
	z-index: 1;
	width: 150px;
	height: 150px;
	float: left;
}
.maga-left img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
.maga-right {
	height: 100%;
	width: 100%;
	text-align: left;
	padding-left: 160px;
	position: relative;
}
.maga-info {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

/*end footer*/

/* article */
.article-header {
	
}
/* end article */

/* bullet */
.bullet-number {
	color: rgba(209,209,209,1);
    font-weight: 400;
    line-height: 54px;
    opacity: 1;
    display: inline;
}
.bullet-header {
	font-size: 30px;
	color: #0051ac;
	font-size: 600;
}
.bullet-content {
	color: #000;
    margin-bottom: 10px;
}

/*overide*/
	/*slick*/
	.slick-slide {
		outline: none;
	}
	.slick-list.draggable {
		height: 100%;
	}
	.slick-track {
		height: 100%;
	}
	.slick-dots {
		bottom: 15px;
	}
	.slick-prev, .slick-next {
		padding: 0 10px;
	    width: auto;
	    background: rgba(0, 0, 0, 0.2);
	    height: 100%;
	}
	.slick-prev {
		left: 0;
		z-index: 1;
	}
	.slick-next {
		right: 0;
	}
	.slick-prev:hover, .slick-next:hover {
	    background: rgba(0, 0, 0, 0.4);
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0 !important;
	}
	/*end slick*/

	/*form bootstrap*/
	.form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}
	/*end form bootstrap*/
/*end overide